<section>
  <h1>About Us</h1>
  <p>This site was created for businesses in North Carolina to communicate to the trans community,
  their customers and tenants, and potentially the state government that their bathroom
  facilites are free to be used by members of the transgender community.</p>
  <br />
  <p>Registration is free.  Businesses are encouraged to provide a contact that may be
    located on the premises if the owner is located remotely should an individual require assistance
    or information about their facilities.  Businesses also have the option, upon registration,
    to notify the state of North Carolina of their registration in the hope of repealing
    House Bill 2.  It's important that state legislators be notified that businesses are choosing, correctly,
    to adhere to Federal Law.</p>
    <br />
  <p>It is also important to note that the House Bill 2 is a <strong>civil bill</strong> and carries no criminal
  repercussions.</p>
    <br />
    <p>We encourage North Carolinians to show their support of their trans community by allowing them
      unstigmatized and safe use of their bathrooms.

</section>
