<section>
  <div class="container">
    <h2>My Account</h2>
    <form class="" action="/business/update" method="post">
      <h4>General Business Info</h4>
      <label for="businessName">Business name: </label>
      <input type="text" class="u-full-width" name="business_name" value="">
      <label for="address">Address: </label>
      <input type="text" class="u-full-width" name="address" value="">
      <label for="city">City: </label>
      <input type="text" class="u-full-width" name="city" value="">
      <label for="phone">Zip Code: </label>
      <input type="text" class="u-full-width" name="zip" value="">
      <label for="phone">Phone number: </label>
      <input type="text" class="u-full-width" name="phone" value=""><br>
      Is the facility a single user washroom?  <input type="checkbox" name="singleUser" value="">
    <section>
      <h4>Contact</h4>
      <p>This is the person who one would contact regarding any questions.</p>
      <label for="name">Contact name: </label>
      <input type="text" class="u-full-width" name="name" value="">
      <label for="phone">Contact phone: </label>
      <input type="text" class="u-full-width" name="phone" value="">
      Is the contact on location at the facility? <input type="checkbox" name="on_location" value="">
      <button type="submit" class="button-primary">Update Info</button>
    </section>
    </form>
  </div>
</section>
