<section id="footer">
  <div class="footer">
    <div class="container">
      <ul class="footer-list">
        <!-- <div class="facebook">
        <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
        <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
          <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" /></a>
        <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>
        <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a> -->
        <li class="footer-item"><a href="https://github.com/bmarsha72/Safe_Harbor" class="footer-link">Github</a></li>
        <li class="footer-item"><a href="#" class="footer-link">Facebok</a></li>
        <li class="footer-item"><a href="#" class="footer-link">Twitter</a></li>
        <li class="footer-item"><a href="/about" class="footer-link">About</a></li>
        <!-- <li class="footer-item u-pull-right"><a href="#" class="footer-link"><button type="submit" class="pure-button" id="joinMailingList">Submit </button></li> -->
        <!-- <li class="footer-item u-pull-right"><a href="#" class="footer-link"><input type="text" name="mailing_list" value="" placeholder="Join Mailing List"></li> -->
      </ul>
    </div>
  </div>
</section>
