<section id="footer">
  <div class="footer">
    <div class="container">
      <ul class="footer-list">
        <li class="footer-item"><a href="#" class="footer-link">Github</a></li>
        <li class="footer-item"><a href="#" class="footer-link">About</a></li>
      </ul>
    </div>
  </div>
</section>
