<div class="container">
  <section class="footer">
    <div class="four columns">
      <h6>About Safe Harbor</h6>
    </div>
    <div class="four columns">
      <h6>Who are we?</h6>
    </div>
    <div class="four columns">
      <h6></h6>
    </div>
  </section>
</div>
