<div id="home_getit">
  <div id="intro">
      <a href="/index"><img src="images/blueiiforweb.jpg" />
  </div>
  <h5>Search for transgender friendly restroom facilities!</h5>
</div>
<section class="cover_photo">
  <div class="container">
    <div class="twelve columns">
      <img src="" alt="" />
      <a class="button button-primary" href="/index">Continue to site</a>
    </div>
  </div>
</section>

<script type="text/javascript">

</script>
