<section class="cover_photo">
  <div class="container">
    <div class="twelve columns">
      <img src="" alt="" />
      <a class="button button-primary" href="/index">Continue to site</a>
    </div>
  </div>
</section>

<script type="text/javascript">

</script>
