<form action="/businesses/create" method="post">

<input type="email" name="email" placeholder="Email"></input>
<input type="password" name="password" placeholder="password"></input>
<button type="submit">submit</button>


</form>
