
<h2>Create A User</h2>

<form action="/businesses/create" method="post">
<input type="name"  name="name" value="" placeholder="Name"></input>
<input type="email" name="email" placeholder="Email"></input>
<input type="password" name="password" placeholder="password"></input>
<button type="submit">submit</button>

</form>
