<div class="container">
  <section class="header">
    <div class="twelve columns">
      <h2>Safe Harbor</h2>
      <p>Search for LGBT friendly businesses</p>
    </div>
  </section>
</div>
<div class="container">
  <section class="page-content">
    <div class="six columns">
      <h4>Search for businesses by zip code</h4>
      <input type="text" name="name" value="" placeholder="Enter zip code"><button type="submit" name="button">Search</button>
    </div>
    <div class="six columns">
      <h4>Register your business</h4>
      <a class="button button-primary" href="#">Register</a>
    </div>
  </section>
</div>
