<div class="container">
  <section class="header">
    <div class="twelve columns">
      <h2>(working title)</h2>
      <p>Search for Transgender friendly restroom facilities in North Carolina</p>
    </div>
  </section>
</div>
<div class="container">
  <section class="page-content">
    <div class="six columns">
      <h4>Search for facilities by city</h4>
      <form class="" action="/search" method="post">
        <input type="text" name="city_search" value="" placeholder="Enter city"><button type="submit" class="button-primary" id="zipSearchButton">Search</button>
      </form>
    </div>
    <div class="six columns">
      <h4>Register your business</h4>
      <a class="button button-primary" href="/business">Register</a>
    </div>
  </section>
</div>
