<div class="container">
  <section class="header">
    <div class="twelve columns">
      <h2>(working title)</h2>
      <p>Search for Transgender friendly restroom facilities in North Carolina</p>
    </div>
  </section>
</div>
<div class="container">
  <section class="page-content">
    <div class="six columns">
      <h4>Search for facilities by zip code</h4>
      <form class="" action="" method="post">
        <input type="text" name="zipcode" value="" placeholder="Enter zip code"><button type="submit" class="button-primary" name="button">Search</button>
      </form>
    </div>
    <div class="six columns">
      <h4>Register your business</h4>
      <a class="button button-primary" href="/business">Register</a>
    </div>
  </section>
</div>
