<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen" title="no title" charset="utf-8">

    <title>homepage</title>
  </head>
  <body>
 <%=yield%>

  </body>
</html>
