
  <div class="container">
    <section class="page-content">
      <div class="six columns">
        <div class="plate">
          <h2>Login</h2>
          <form class="" action="/business/login" method="post">
            <label for="email">Email: </label>
            <input type="email" class="u-full-width" name="email" value="">
            <label for="password">Password: </label>
            <input type="password" class="u-full-width" name="password" value="">
            <button type="submit" class="button-primary">Login</button>
          </form>
        </div>
      </div>
      <div class="six columns">
        <div class="plate">
          <h2>Register your business</h2>
          <form class="" action="/business/register" method="post">
            <label for="username">Name: </label>
            <input type="text" class="u-full-width" name="username" value="">
            <label for="email">Email: </label>
            <input type="text" class="u-full-width" name="email" value="">
            <label for="password">Password: </label>
            <input type="password" class="u-full-width" name="password" value="">
            <button type="submit" class="button-primary">Register</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
