<nav class="image-bg-fluid-height">
     <img class="img-responsive img-center" id="ncphoto" src="http://cdn.morguefile.com/imageData/public/files/custom/fldr_2016_03_26/file56f6f708a0a95.jpg">
  </header>

    <ul>
       <li class='active'><a href="/#">Home</a></li>
       <li><a href='#'>Products</a></li>
       <li><a href='#'>About</a></li>
       <li><a href='#'>Contact</a></li>
    </ul>
</nav>
